@page   
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Orlando Sergio</h1>
    <h2 class="display-3">Yurivilca Vargas</h2>
    <h5>Welcome to my web profile, here you will get to know a little bit more about me. </h5>
    <p>You can also find me on <a href="https://github.com/orlandosyv" target="_blank">Github</a> and my portfolio on <a href="https://troopl.com/orlandosyv" target="_blank">Troopl</a> .</p>
</div>
<b></b><b></b>
<div class="container">
    <h3 class="text-center">About me</h3>
    <p>Industrial Engineer and MBA by ESMT Berlin. Full Stack Developer. Possess high knowledge of Agile Methodologies, Product Management, Design Thinking and Digital Marketing.
       Customer-oriented mindset from 6+ years of experience in Sales and Marketing positions, in B2B and Retail channels, with transferable soft skills such as: empathy, active listening, relationship-building and critical thinking.        
    </p>
    <p>Tech skills: Ruby, Ruby on Rails, .NET, VB, Python, SQL, HTML, Figma.</p>
    <p>Languages: Fluent professional English , advanced German, native Spanish</p>
</div>

<div>
    <div>
        <h3 class="text-center">Education</h3>
    </div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">                                        
                    <h5>Le Wagon: Full Stack Web Developer</h5>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">                    
                    <p><strong>Oct 2021 - Feb 2022</strong></p>
                    <b></b>
                    <p>
                        Web Development Bootcamp: Ruby on Rails, React, SQL, JavaScript ES6, HTML, CSS, Bootstrap, git, GitHub and Heroku.                        
                        Skills: Agile Project Management · Product Management · Visual Studio.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                    <h5>ESMT Berlin: Master of Business Administration</h5>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                <div class="accordion-body">                    
                    <p><strong>2018 - 2019</strong></p>
                    <b></b>
                    <p>                        
                       MBA courses focus on innovation, technology, entrepreneurship, and global strategic management.MBA courses focus on innovation, technology, entrepreneurship, and global strategic management.
                        Activities and societies: Entrepreneurship Club. Activities and societies: Entrepreneurship Club                       
                    </p>
                    <p>Skills: Agile Project Management · Product Management · English.</p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    <h5>Universidad Nacional de Ingeniería: Industrial Engineering</h5>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">                    
                    <p><strong>2006 - 2011</strong></p>
                    <b></b>
                    <p>Grade: Letter Grade: A (Very Good)Grade: Letter Grade: A (Very Good)</p>
                    <p>Activities and societies: Student representative at Faculty Council (2008), Guitar player at "Tuna Ingenieria" (music group, from 2007 to 2011).Activities and societies: Student representative at Faculty Council (2008), Guitar player at "Tuna Ingenieria" (music group, from 2007 to 2011).</p>
                    <p>* Top quarter percentile of 2011 Batch</p>
                    <p>***ABET accredited Program</p>                    
                </div>
            </div>
        </div>
    </div>


</div>
