@page   
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="position-relative overflow-hidden p-3 p-md-5 text-center h-100" style="background-color:#303355;">
    <div class=" col-md-12 p-lg-5 mx-auto my-5" style="color:white">
        <h1 class="display-3 fw-bold">Orlando Sergio Yurivilca Vargas</h1>
        <h3 class="fw-normal mb-3">Welcome to my web profile, here you will get to know a little bit more about me.</h3>
        <p class="lead">
            You can also find me on
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
            </svg>
            <a href="https://github.com/orlandosyv" style="color:white" target="_blank">Github</a>
            and my portfolio on
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
            </svg>
            <a href="https://troopl.com/orlandosyv" style="color:white" target="_blank">Troopl</a> .
        </p>
    </div>    
</div> *@

@* <div class="text-center">
    <h1 class="display-2">Orlando Sergio</h1>
    <h2 class="display-2">Yurivilca Vargas</h2>
    <p class="lead">Welcome to my web profile, here you will get to know a little bit more about me.</p>    
    <p class="lead">
        You can also find me on       
        <a href="https://github.com/orlandosyv" target="_blank">Github</a> 
        and my portfolio on 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
            <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
        </svg>
        <a href="https://troopl.com/orlandosyv" target="_blank">Troopl</a> .
    </p>
</div> *@
<b></b><b></b><b></b><b></b>
<div class="container-fluid MainSection my-4">
    <h3 class="text-center my-3">About me</h3>
    <p>Industrial Engineer and MBA by ESMT Berlin. Full Stack Developer. Possess high knowledge of Agile Methodologies, Product Management, Design Thinking and Digital Marketing.
       Customer-oriented mindset from 6+ years of experience in Sales and Marketing positions, in B2B and Retail channels, with transferable soft skills such as: empathy, active listening, relationship-building and critical thinking.        
    </p>
    <p>Tech skills: Ruby, Ruby on Rails, .NET, VB, Python, SQL, HTML, Figma.</p>
    <p>Languages: Fluent professional English , advanced German, native Spanish</p>
</div>

<div class="MainSection my-4">
    @* Education *@
    <div>
        <h3 class="text-center my-3">Education</h3>
    </div>   
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">                                        
                    <div>
                        <h5>ESMT Berlin</h5>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><h6>Master of Business Administration</h6></li>
                                <li class="list-inline-item">2018 - 2019</li>
                            </ul>                                                   
                        </div>                        
                    </div>                    
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">                                        
                    <b></b>
                    <p>
                        MBA courses focus on innovation, technology, entrepreneurship, and global strategic management.MBA courses focus on innovation, technology, entrepreneurship, and global strategic management.
                        Activities and societies: Entrepreneurship Club. Activities and societies: Entrepreneurship Club
                    </p>
                    <p>Skills: Agile Project Management · Product Management · English.</p>
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                    <div>
                        <h5>Le Wagon - Coding School</h5>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><h6>Full Stack Web Development</h6></li>
                                <li class="list-inline-item">Oct 2021 - Feb 2022</li>
                            </ul>
                        </div>
                    </div>                    
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                <div class="accordion-body">                                        
                    <b></b>
                    <p>
                        Web Development Bootcamp: Ruby on Rails, React, SQL, JavaScript ES6, HTML, CSS, Bootstrap, git, GitHub and Heroku.
                        Skills: Agile Project Management · Product Management · Visual Studio.
                    </p>
                </div>
            </div>
        </div>        
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    <div>
                        <h5>Universidad Nacional de Ingeniería</h5>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><h6>Industrial Engineering</h6></li>
                                <li class="list-inline-item">2006 - 2011</li>
                            </ul>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">                                        
                    <b></b>
                    <p>Grade: Letter Grade: A (Very Good)Grade: Letter Grade: A (Very Good)</p>
                    <p>Activities and societies: Student representative at Faculty Council (2008), Guitar player at "Tuna Ingenieria" (music group, from 2007 to 2011).Activities and societies: Student representative at Faculty Council (2008), Guitar player at "Tuna Ingenieria" (music group, from 2007 to 2011).</p>
                    <p>* Top quarter percentile of 2011 Batch</p>
                    <p>***ABET accredited Program</p>                    
                </div>
            </div>
        </div>
    </div>
</div>
<b></b>
<div class="MainSection my-4">
    @* Experience *@
    <div>
        <h3 class="text-center my-3">Professional Experience</h3>
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseExpOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseExpOne">                    
                    <div>
                        <h5>Software Developer</h5>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><h6>BW2 Technologies AG</h6></li>
                                <li class="list-inline-item">Feb 2022 - To Date</li>
                            </ul>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseExpOne" class="accordion-collapse collapse show">
                <div class="accordion-body">                    
                    <b></b>
                    <ul class="list">
                        <li class="list-item">Design, evaluation, and development of software products.</li>
                        <li class="list-item">Quality Assurance</li>
                        <li class="list-item">Market Research & Benchmark</li>
                        <li class="list-item">Business workflows optimization</li>
                        <li class="list-item">Tech Stack: .NET, Visual Basic, SQL, HTML/CSS, JavaScript, Bootstrap, Fontawesome, BitBucket (Git), Visual Studio, Figma.Design, evaluation, and development of software products. Quality Assurance Market Research & Benchmark Business workflows optimization Tech Stack: .NET, Visual Basic, SQL, HTML/CSS, JavaScript, Bootstrap, Fontawesome, BitBucket (Git), Visual Studio, Figma.</li>
                        <li class="list-item">Skills: Visual Studio · Product Management · Visual Basic .NET (VB.NET) · Microsoft SQL Server · Software Development · Agile Project Management · Product Development</li>                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseExpTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseExpTwo">                    
                    <div>
                        <h5>Sales Representative - B2B Channel</h5>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><h6>Goodyear</h6></li>
                                <li class="list-inline-item">2014-2016</li>
                            </ul>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseExpTwo" class="accordion-collapse collapse show">
                <div class="accordion-body">                    
                    <b></b>
                    <ul class="list">
                        <li class="list-item">Increase of sales, annual growth in target segments: +8% at truck radial, +9% at off the road/mining.</li>
                        <li class="list-item">Lead a project to relaunch Light Truck Radial Category by designing technical sheets, merchandising, sales incentives, and releasing nationwide promotions; results of +25% sales increase in 2 months.</li>
                        <li class="list-item">Negotiation of supply contracts with cargo fleets and controlled the distributor's after-sales service</li>
                        <li class="list-item">Control and presentation of reports to customers of “Complete Tire Cycle”: performance, cost/km, scrap.</li>
                        <li class="list-item">Design of monthly incentives & promotions with results of +20% sales increase</li>
                        <li class="list-item">Weekly basis product training for 20+ technical sellers (Volvo / G&N Rojas / Servisa).</li>                       
                        <li class="list-item">Skills: Product Management · Key Account Management · Customer Relationship Management (CRM) · Business Development</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseExpThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseExpThree">
                    <div>
                        <h5>Key Account Supervisor</h5>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><h6>The Clorox Company</h6></li>
                                <li class="list-inline-item">2011-2013</li>
                            </ul>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseExpThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p><strong>2006 - 2011</strong></p>
                    <b></b>
                    <ul class="list">
                        <li class="list-item">	Jan 2012 - Dec 2013, Southeast Region: Cuzco, Puno, Madre de Dios y Apurimac. Key Distributors: Moran, Digosac, Suvahi, Palmyra, Supermercados Mega. 	</li>
                        <li class="list-item">	Oct 2012 - Jun 2013 Cities in Charge: Arequipa, Moquegua y Tacna.	</li>
                        <li class="list-item">	Key Distributors: Moran, 5M, Palmyra, Neyra, JL Distribuciones.	</li>
                        <li class="list-item">	Jul 2013 - Oct 2013, Distributors of North Lima (Traditional) and Wholesalers: Grupo Jimenez: Codijisa, Dacia, Dicobelsa; Grupo Vega: Corporacion Vega, Digalimenta; Inversiones Dilisa (wholesaler); Corporacion Sagra	</li>
                        <li class="list-item">	✓ Designed and implemented incentives and promotions, quarterly sell in and sell out trade agreements, +16% sales growth, reduced inventory breaks at distributors -20%, improved DSO days sales outstanding -5%	</li>
                        <li class="list-item">	✓ Promoted twice to bigger sales regions due to good results: Cusco, Arequipa, and North-Lima	</li>
                        <li class="list-item">	✮ Lead and trained a team of 10 sales promoters and awarded with the Best Clorox Sales Team 2012Jan 2012 - Dec 2013, Southeast Region: Cuzco, Puno, Madre de Dios y Apurimac. Key Distributors: Moran, Digosac, Suvahi, Palmyra, Supermercados Mega. Oct 2012 - Jun 2013 Cities in Charge: Arequipa, Moquegua y Tacna. Key Distributors: Moran, 5M, Palmyra, Neyra, JL Distribuciones. Jul 2013 - Oct 2013, Distributors of North Lima (Traditional) and Wholesalers: Grupo Jimenez: Codijisa, Dacia, Dicobelsa; Grupo Vega: Corporacion Vega, Digalimenta; Inversiones Dilisa (wholesaler); Corporacion Sagra ✓ Designed and implemented incentives and promotions, quarterly sell in and sell out trade agreements, +16% sales growth, reduced inventory breaks at distributors -20%, improved DSO days sales outstanding -5% ✓ Promoted twice to bigger sales regions due to good results: Cusco, Arequipa, and North-Lima ✮ Lead and trained a team of 10 sales promoters and awarded with the Best Clorox Sales Team 2012	</li>
                        <li class="list-item">	Skills: Key Account Management · Marketing · Sales	</li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
